<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jqplugin">

    <application>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.example.jqplugin.ui.videocall.TRTCVideoCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>